
     html, body {
      margin:0;
      padding:0;
      height:100%;
    }
    #pagina {
  position: relative;
  min-height: 100%;
}
  #contenido {
   width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
    font-size: var(--font-normal);
}
p5 {
    text-shadow:
      0 0 1px black,
      -1px -1px 0 black,  
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
  }
  h5 {
    text-shadow:
      0 0 1px black,
      -1px -1px 0 black,  
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
  }