

:root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }
  
  
  
  body{
    background-image: url(../img/barricas.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;    

  }
  
  .hero-section{
    align-items: flex-start;
    display: flex;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
    width: 100%;
    height: 100%;
  
    }
  
  .ard-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
  }
  
  @media(min-width: 540px){
    .ard-grid{
      grid-template-columns: repeat(3, 10fr); 
    }
  }
  
  @media(min-width: 80px){
    .ard-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  .ard{
    list-style: none;
    position: relative;
    margin-top: 300px;
    width: 500px;
    height: 500px;
  }
  
  .ard:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .ard__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .ard:hover .ard__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .ard-grid:hover > .ard:not(:hover) .ard__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(0px);
  }
  
  .ard__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .ard__category{
    font-family: "Brush Script MT";
    color: var(--text-light);
    font-size: 3rem;
    margin-bottom: var(--spacing-s);
    text-transform: capitalize;
  }

  .aaard__category{
    font-family: "Brush Script MT";
    color: var(--text-light);
    font-size: 3rem;
    margin-bottom: var(--spacing-s);
    text-transform: capitalize;
    margin-left: 180%;

  }
  
  .ard__heading{
    color: var(--text-lighter);
    font-size: 2.5rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }
  .aaard__heading{
    color: var(--text-lighter);
    font-size: 2.5rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
    margin-left: 170%;
    margin-top: 230px;
  }

  .milky {
  font-family: "Optima";
  display: block;
  font-size: 100px;
  color: #e4e0dc;
  text-shadow: 0 8px 9px #54524d, 0px -2px 1px rgb(164, 164, 164);  
  letter-spacing: 1px;
  text-align: right;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* Sidebar Destilados */
#sidebar-wrapper{
  z-index:1;
  position: absolute;
  width:0;
  height:100%;
  overflow-y:hidden;
  background: #111111f1;
  opacity:1;
	transition:all .5s;
	display:flex;
	align-items:center;
}

#menu-toggle{
	transition:all .3s;
	font-size:2em;
}
/* Change the width of the sidebar to display it*/
#wrapper.menuDisplayed #sidebar-wrapper{
  width:50%;
  height: 1201px;
  margin-top: -1.2%;
}

#wrapper.menuDisplayed #page-content-wrapper{
  padding-left:250px;
}

/* Sidebar styling */
.sidebar-nav{
  padding:0;
  list-style:none; 
	transition:all .5s;
	width:100%;
	text-align:center;
}

.sidebar-nav li{
  line-height:60px;  
	width:100%;
	transition:all .3s;
	padding:10px;
}

.sidebar-nav li a {
  display:block;
  text-decoration:none;
  color:#ddd;
}

.sidebar-nav li:hover{
  background:#625d5f55;
  width: 1000px;
}

/* Sidebar Vinos */
#sidebar-wrapper_vinos{
  right: -1px;
  z-index:1;
  position: absolute;
  width:0;
  height:100%;
  overflow-y:hidden;
  background: #111111f1;
  opacity:1;
	transition:all .5s;
	display:flex;
	align-items:center;
}

#menu-toggle_vinos{
	transition:all .3s;
	font-size:2em;
}
/* Change the width of the sidebar to display it*/
#wrapper_vinos.menuDisplayed_vinos #sidebar-wrapper_vinos{
  width:50%;
  height: 1201px;
  margin-top: -1.2%;  
}

#wrapper_vinos.menuDisplayed_vinos #page-content-wrapper_vinos{
  padding-right:250px;
}

/* Sidebar styling */
.sidebar-nav_vinos{
  padding:0;
  list-style:none; 
	transition:all .5s;
	width:100%;
	text-align:center;
}

.sidebar-nav_vinos li{
  line-height:60px;  
	width:100%;
	transition:all .3s;
	padding:10px;
}

.sidebar-nav_vinos li a {
  display:block;
  text-decoration:none;
  color:#ddd;
}

.sidebar-nav_vinos li:hover{
  background:#625d5f55;
  width: 900px;
}

.profile-userpic {
	padding-top: 4px;
}

.profile-userpic img {
	margin: 0 auto;
	width: 20%;
	height: 20%;
}